<div class="col-lg-5 shadow-sm mx-auto border">
     <p class="fs-3 text-light rounded text-center py-3 bg-primary">Create Account</p>
     <div class="form-input p-3 text-center">
        <ng-container></ng-container>
        <small class="text-danger text-center">{{message}}</small>
        <div class="form-floating">
            <input type="text" class="form-control my-2" placeholder="First Name" [(ngModel)]="firstName">
            <label for="">First Name</label>
        </div>
        <div class="form-floating">
            <input type="text" class="form-control my-2" placeholder="First Name" [(ngModel)]="lastName">
            <label for="">Last Name</label>
        </div>
        <div class="form-floating">
            <input type="email" class="form-control my-2" placeholder="First Name" [(ngModel)]="email">
            <label for="">Email</label>
        </div>
        <div class="form-floating">
            <input type="number" class="form-control my-2" placeholder="First Name" [(ngModel)]="contact">
            <label for="">Contact</label>
        </div>
        <div class="form-floating">
            <input type="password" class="form-control my-2" placeholder="First Name" [(ngModel)]="password">
            <label for="">Password</label>
        </div>
        <div class="text-start py-2">Already have an account? <a href="" routerLink="/signin">Sign in</a> to your account</div>
        <div class="button">
            <button class="btn btn-primary rounded-pill w-100" (click)="signupFunc()">Sign Up</button>
        </div>
     </div>
</div>
